<label class="labeled">
	<% if(typeof tags != 'undefined') {
		tags.forEach(tag => {%>
			<span><%= tag %></span>
		<%})
	}
	switch (type) {

		case "text":
        case "email":
        case "password": %>
    		<input type="<%= type %>" name="<%= name %>" value="<%= value %>" class="inputs" id="<%= id %>" required/>
    		<span class="float-label"><%= label %></span>
		    <div class="bottom-line"></div>
		    <div class="bottom-line-active"></div>
    	<% break; 

    	case "select": %>
    		<select name="<%= name %>" class="inputs" id="<%= id %>" required>
	            <option selected value></option>
	            <% value.forEach(function(value){ %>
	            	<option><%= value %></option>
	            <% }); %>
	        </select>
	        <span class="float-label"><%= label %></span>
	        <div class="bottom-line"></div>
	        <div class="bottom-line-active"></div>
    	<% break;

    	case "checkbox": %>
    		<div class="checker">
                <input type="<%= type %>" name="<%= name %>" class="inputs" id="<%= id %>" required/>
                <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <span><%= label %></span>
    	<% break;

        case "textarea": %>
            <<%= type %> name="<%= name %>" class="inputs" id="<%= id %>" maxlength="140" oninput="setTextareaHeight(this);" required></<%= type %>>
            <span class="float-label"><%= label %></span>
            <div class="bottom-line"></div>
            <div class="bottom-line-active"></div>
        <% break;
    } %>

    <% if(hint != "") { %>
    	<span class="hint"><%= hint %></span>
    <% } %>
</label>