<!DOCTYPE html>
<html>
<%- include('components/admin-head', {guard: false, simplemde: false, title: "User registration"}); %>
<body>
<div class="container">
    <div class="editor-header">
        <h1><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;User profile</h1>
        <div class="button-f-right">
            <button onclick="goBack()" class="button cancel">Cancel</button>
            <button onclick="submit()" class="button submit">Save</button>
        </div>
    </div>
    <div class="labeled input-picture">
    	<input type="hidden" name="profile-pic" value="">
    	<img src="https://robohash.org/newuser.jpg?size=140x140&set=set2" alt="Profile picture">
    	<p>Click to upload a new image</p>
    </div>
    <h3>About you</h3>
    <%- include('components/input', {type: "text", id: "username", name: "username", label: "Username", value: "", hint: ""}); %>
    <%- include('components/input', {type: "text", id: "firstname", name: "firstname", label: "Firstname", value: "", hint: ""}); %>
    <%- include('components/input', {type: "text", id: "lastname", name: "lastname", label: "Lastname", value: "", hint: ""}); %>
    <%- include('components/input', {type: "email", id: "email", name: "email", label: "Email address", value: "", hint: ""}); %>
    <%- include('components/input', {type: "textarea", id: "description", name: "description", label: "Your personnal description...", value: "", hint: "Max 140 characters"}); %>
</div>
<%- include('components/upload-image'); %>
<script src="https://use.fontawesome.com/973262919d.js"></script>
<script type="text/javascript" src="../scripts/closest-polyfill.js"></script>
<script type="text/javascript" src="../scripts/promise-polyfill.min.js"></script>
<script type="text/javascript" src="../scripts/utilities.js"></script>
<script type="text/javascript"></script>
</body>
</html>