<!DOCTYPE html>
<html>
<%- include('components/admin-head', {guard: false, simplemde: false, title: "User registration"}); %>
<body>
<div class="container">
    <div class="editor-header">
        <h1><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;User profile</h1>
        <div class="button-f-right">
            <button onclick="goBack()" class="button cancel">Cancel</button>
            <button onclick="submit()" class="button submit">Save</button>
        </div>
    </div>
    <div class="labeled input-picture">
    	<img id="profile-pic" src="https://robohash.org/newuser.jpg?size=140x140&set=set2" alt="Profile picture" onclick="uploadImage(this)">
    	<p>Click to upload a new image</p>
    </div>
    <h3>Account</h3>
    <%- include('components/input', {type: "text", id: "username", name: "username", label: "Username", value: "", hint: ""}); %>
    <%- include('components/input', {type: "password", id: "password", name: "password", label: "Password", value: "", hint: ""}); %>
    <%- include('components/input', {type: "password", id: "repeat-password", name: "repeat-password", label: "Repeat password", value: "", hint: ""}); %>
    <h3>About you</h3>
    <%- include('components/input', {type: "text", id: "firstname", name: "firstname", label: "Firstname", value: "", hint: ""}); %>
    <%- include('components/input', {type: "text", id: "lastname", name: "lastname", label: "Lastname", value: "", hint: ""}); %>
    <%- include('components/input', {type: "email", id: "email", name: "email", label: "Email address", value: "", hint: ""}); %>
    <%- include('components/input', {type: "textarea", id: "description", name: "description", label: "Your personnal description", value: "", hint: "Max 140 characters"}); %>
    <h3>About your blog</h3>
    <%- include('components/input', {type: "text", id: "name", name: "name", label: "Your blog's name", value: "", hint: ""}); %>
    <%- include('components/input', {type: "textarea", id: "catchphrase", name: "catchphrase", label: "Your catchphrase", value: "", hint: "Max 140 characters"}); %>
    <h4>Your blog categories</h4>
    <div class="editor-categories">
    </div>
    <%- include('components/input', {type: "text", id: "category", name: "category", label: "Add a new category", value: "", hint: "Validate with \"Enter\" key"}); %>
</div>
<%- include('components/upload-image'); %>
<script src="https://use.fontawesome.com/973262919d.js"></script>
<script type="text/javascript" src="../scripts/closest-polyfill.js"></script>
<script type="text/javascript" src="../scripts/promise-polyfill.min.js"></script>
<script type="text/javascript" src="../scripts/utilities.js"></script>
<script type="text/javascript">

	var catInput = document.querySelector('#category'),
		catItems = document.querySelector('.editor-categories'),
		categories;
		
	if(document.querySelector('.category-item')) {
		var categoryList = document.querySelector('.category-item');
		for (i = 0; i > categoryList.length; i++) {
			categories.push(categoryList[i].childNodes[0].nodeValue);
		}
	}
	else {
		categories = [];
	}

	catInput.addEventListener('keyup', function(e) {
		if (e.keyCode == 13) {
			var value = e.target.value;
			
	        // Prevent duplicates
	        if (categories.indexOf(value) != -1) {
	        	var popUpInfos = {"type": "info", "text": "This category already exists."};
                displayPop(popUpInfos);
                catInput.value = "";
                return false;
	        }

	        var	catBox = document.createElement('div'),
	            catBoxText = document.createTextNode(value),
	            closeButton = document.createElement('span'),
	            closeCross = document.createTextNode('x');

	        closeButton.appendChild(closeCross);
	        catBox.appendChild(catBoxText);
	        catBox.appendChild(closeButton);
	        catBox.classList.add("category-item");
	        catItems.appendChild(catBox);
	        categories.push(value);
	        catInput.value = "";
	        location.href = "#category";
		}
	});

	catItems.addEventListener('click', function(e) {
		if(e.target && e.target.nodeName == "SPAN") {
			var currentCat = e.path[1].childNodes[0].data,
				catToDelete = categories.indexOf(currentCat);

			catItems.removeChild(catItems.childNodes[catToDelete + 1]);
        	categories.splice(catToDelete, 1);
		}
	});

	function submit() {
		var username = document.querySelector('#username').value,
			password = document.querySelector('#password').value,
			repeatPassword = document.querySelector('#repeat-password').value,
			firstname = document.querySelector('#firstname').value,
			lastname = document.querySelector('#lastname').value,
			picture = document.querySelector('#profile-pic').src,
			email = document.querySelector('#email').value,
			description = document.querySelector('#description').value,
			name = document.querySelector('#name').value,
			catchphrase = document.querySelector('#catchphrase').value,
			data;

		if (!username) {
			var popUpInfos = {"type": "error", "text": "You must choose a username."};
            displayPop(popUpInfos);
            document.querySelector('#username').focus();

		}
		else if (password.length < 8) {
			var popUpInfos = {"type": "error", "text": "Your password must contain at least 8 characters."};
            displayPop(popUpInfos);
            document.querySelector('#password').focus();
		}
		else if (password != repeatPassword) {
			var popUpInfos = {"type": "error", "text": "Passwords don't match."};
            displayPop(popUpInfos);
            document.querySelector('#repeat-password').focus();
		}
		else if (!email || !document.querySelector('#email').checkValidity()) {
			var popUpInfos = {"type": "error", "text": "You must provide a valid email address."};
            displayPop(popUpInfos);
            document.querySelector('#email').focus();
		}
		else if (!name) {
			var popUpInfos = {"type": "error", "text": "Your blog must have a name."};
            displayPop(popUpInfos);
            document.querySelector('#name').focus();
		}
		else if (categories.length == 0) {
			var popUpInfos = {"type": "error", "text": "Your blog should at least have 1 category."};
            displayPop(popUpInfos);
            document.querySelector('#category').focus();
		}
		else {
			data = {
			    username: document.querySelector('#username').value,
			    password: document.querySelector('#password').value,
			    about: {
			        firstname: document.querySelector('#firstname').value,
			        lastname: document.querySelector('#lastname').value,
			        picture: document.querySelector('#profile-pic').src,
			        email: document.querySelector('#email').value,
			        description: document.querySelector('#description').value,
			        social: {
			            facebook: '',
			            twitter: '',
			            google: '',
			            instagram: '',
			            pinterest: '',
			            youtube: '',
			            vimeo: '',
			            medium: '',
			            github: '',
			            dribbble: '',
			            behance: ''
			        }
			    },
			    blog: {
			        name: document.querySelector('#name').value,
			        url: '',
			        logo: '',
			        catchphrase: document.querySelector('#catchphrase').value,
			        categories: categories,
			        social: {
			            facebook: '',
			            twitter: '',
			            google: '',
			            instagram: '',
			            pinterest: '',
			            youtube: '',
			            vimeo: '',
			            medium: '',
			            github: '',
			            dribbble: '',
			            behance: ''
			        }
			    }
			};

			var xhr = new XMLHttpRequest();

            xhr.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        var response = JSON.parse(this.responseText),
                        	isSuccess = response.success,
                        	message = response.text;
                        
                        if (isSuccess) {
                        	var popUpInfos = {"type": "success", "text": "The operation succeed !" };
            				displayPop(popUpInfos);
                        }
                        else {
                        	var popUpInfos = {"type": "warning", "text": "We couldn't authenticate you. Please contact the support." };
            				displayPop(popUpInfos);
                        }
                        
                    }
                    else {
                        console.log(this.status, this.statusText, this.getAllResponseHeaders());
                        var popUpInfos = {"type": "error", "text": "Internal server error. Please contact the support." };
            			displayPop(popUpInfos);
                    }
                }
            }
            xhr.open("POST", "/api/signup", true);
            xhr.send(JSON.stringify(data));
		}
	}

	function goBack() {
        window.location.href = "/";
	}
</script>
<% if (message.length > 0) { %>
    <script type="text/javascript">
            var popUpInfos = {"type": "error", "text": "<%= message %>" };
            displayPop(popUpInfos);
    </script>
<% } %>
</body>
</html>