<!-- https://github.com/tj/ejs/issues/90 -->
<!DOCTYPE html>
<html>
<%- include('components/admin-head', {simplemde: false, title: "User registration"}); %>
<body>
<div class="container">
    <div class="editor-header">
        <h1><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;User profile</h1>
        <div class="button-f-right">
			<button onclick="goBack()" class="button cancel">Cancel</button>
			<% if (typeof user != 'undefined') { %>
				<button onclick="submit(true)" class="button submit">Save</button>
			<% } else { %>
				<button onclick="submit(false)" class="button submit">Save</button>
			<% } %>
        </div>
    </div>
	<div class="labeled input-picture">
		<% if (typeof user != 'undefined') { %>
			<img id="profile-pic" src="<%= user.about.picture %>" alt="Profile picture" onclick="uploadImage(this)">
		<% } else { %>
			<img id="profile-pic" src="https://robohash.org/newuser.jpg?size=140x140&set=set2" alt="Profile picture" onclick="uploadImage(this)">
		<% } %>
    	<p>Click to upload a new image</p>
    </div>
	<h3>Account</h3>
	<% if (typeof user != 'undefined') { %>
		<%- include('components/input', {type: "text", id: "username", name: "username", label: "Username", value: user.account.username, hint: ""}); %>
	<% } else { %>
		<%- include('components/input', {type: "text", id: "username", name: "username", label: "Username", value: "", hint: ""}); %>
	<% } %>
    <%- include('components/input', {type: "password", id: "password", name: "password", label: "Password", value: "", hint: ""}); %>
	<%- include('components/input', {type: "password", id: "repeat-password", name: "repeat-password", label: "Repeat password", value: "", hint: ""}); %>
	<h3>About you</h3>
	<% if (typeof user != 'undefined') { %>
		<%- include('components/input', {type: "text", id: "firstname", name: "firstname", label: "Firstname", value: user.about.firstname, hint: ""}); %>
		<%- include('components/input', {type: "text", id: "lastname", name: "lastname", label: "Lastname", value: user.about.lastname, hint: ""}); %>
		<%- include('components/input', {type: "email", id: "email", name: "email", label: "Email address", value: user.about.email, hint: ""}); %>
		<%- include('components/input', {type: "textarea", id: "description", name: "description", label: "Your personnal description", value: user.about.description, hint: "Max 140 characters"}); %>
	<% } else { %>
		<%- include('components/input', {type: "text", id: "firstname", name: "firstname", label: "Firstname", value: "", hint: ""}); %>
		<%- include('components/input', {type: "text", id: "lastname", name: "lastname", label: "Lastname", value: "", hint: ""}); %>
		<%- include('components/input', {type: "email", id: "email", name: "email", label: "Email address", value: "", hint: ""}); %>
		<%- include('components/input', {type: "textarea", id: "description", name: "description", label: "Your personnal description", value: "", hint: "Max 140 characters"}); %>
	<% } %>
    
	<h3>About your blog</h3>
	<% if (typeof user != 'undefined') { %>
		<%- include('components/input', {type: "text", id: "name", name: "name", label: "Your blog's name", value: user.blog.name, hint: ""}); %>
		<%- include('components/input', {type: "textarea", id: "catchphrase", name: "catchphrase", label: "Your catchphrase", value: user.blog.catchphrase, hint: "Max 140 characters"}); %>
	<% } else { %>
		<%- include('components/input', {type: "text", id: "name", name: "name", label: "Your blog's name", value: "", hint: ""}); %>
		<%- include('components/input', {type: "textarea", id: "catchphrase", name: "catchphrase", label: "Your catchphrase", value: "", hint: "Max 140 characters"}); %>
	<% } %>
    
	<h4>Your blog categories</h4>
	<% if (typeof user != 'undefined') { %>
	<div class="editor-categories">
		<% user.blog.categories.forEach(function(cat){ %>
			<div class="category-item"><%= cat %><span>x</span></div>
		<% }); %>
    </div>
	<% } else { %>
	<div class="editor-categories">
    </div>
	<% } %>
    
    <%- include('components/input', {type: "text", id: "category", name: "category", label: "Add a new category", value: "", hint: "Validate with \"Enter\" key"}); %>
</div>
<%- include('components/upload-image'); %>
<script src="https://use.fontawesome.com/973262919d.js"></script>
<script type="text/javascript" src="scripts/closest-polyfill.js"></script>
<script type="text/javascript" src="scripts/promise-polyfill.min.js"></script>
<script type="text/javascript" src="scripts/utilities.js"></script>
<script type="text/javascript" src="scripts/settings-controller.js"></script>
<% if (message.length > 0) { %>
    <script type="text/javascript">
            var popUpInfos = {"type": "error", "text": message };
            displayPop(popUpInfos);
    </script>
<% } %>
</body>
</html>