<!DOCTYPE html>
<html>
<%- include('components/admin-head', {simplemde: true, title: "Write a new blogpost"}); %>
<body>
<div class="container">
    <div class="editor-header">
    <% if (typeof article != 'undefined') {%>
        <h1><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Edit a post</h1>
    <%} else {%>
        <h1><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Write a new blog post</h1>
    <%}%>
        <div class="button-f-right">
            <button onclick="goBack()" class="button cancel">Cancel</button>
            <% if (typeof article != 'undefined') {%>
                <button onclick="submit(true)" id="publish" class="button submit">Save</button>
            <%} else {%>
                <button onclick="submit(false)" id="publish" class="button submit">Publish</button>
            <%}%>
        </div>
    </div>
    <label class="labeled">
    <% if (typeof article != 'undefined') {%>
        <input type="text" class="inputs heading" name="post-title" placeholder="Your title" value="<%= article.headline %>" required/>
    <%} else {%>
        <input type="text" class="inputs heading" name="post-title" placeholder="Your title" required/>
    <%}%>
    </label>
    <!--TODO: Insérer le contenu pour update -->
    <label class="labeled">
        <textarea class="inputs" placeholder="Your story..."></textarea>
    </label>
    <h3 class="heading-separator">About your post</h3>
    <% if (typeof article != 'undefined') {%>
        <%- include('components/input', {type: "text", id: "about", name: "about", label: "What is your post about ?", value: article.about.name, hint: ""}); %>
        <%- include('components/input', {type: "text", id: "about-link", name: "about-link", label: "Can you provide a link ?", value: article.about.url, hint: ""}); %>
        <%- include('components/input', {type: "select", id: "category", name: "category", label: "Category", value: user.blog.categories, hint: ""}); %>
        <%- include('components/input', {type: "text", id: "tags", name: "tags", label: "Tags", value: "", hint: "Separate tags with a coma. Up to 5 tags.", tags: article.keywords}); %>
    <%} else {%>
        <%- include('components/input', {type: "text", id: "about", name: "about", label: "What is your post about ?", value: "", hint: ""}); %>
        <%- include('components/input', {type: "text", id: "about-link", name: "about-link", label: "Can you provide a link ?", value: "", hint: ""}); %>
        <%- include('components/input', {type: "select", id: "category", name: "category", label: "Category", value: user.blog.categories, hint: ""}); %>
        <%- include('components/input', {type: "text", id: "tags", name: "tags", label: "Tags", value: "", hint: "Separate tags with a coma. Up to 5 tags."}); %>
    <%}%>
</div>
<%- include('components/upload-image'); %>
<script src="https://use.fontawesome.com/973262919d.js"></script>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script type="text/javascript" src="../scripts/closest-polyfill.js"></script>
<script type="text/javascript" src="../scripts/promise-polyfill.min.js"></script>
<script type="text/javascript" src="../scripts/utilities.js"></script>
<script type="text/javascript" src="../scripts/editor-controller.js"></script>
</body>
</html>