<!DOCTYPE html>
<html>
<%- include('components/admin-head', {guard: false, simplemde: false, title: "Log in"}); %>
<body>
	<div class="container-flex">
        <div class="login-form">
            <div class="login-header">
                <h1>Hey stranger !</h1>
                <h2>Please log in so we know who you are.</h2>
            </div>
            <%- include('components/input', {type: "text", id: "user", name: "username", label: "Username", value: "", hint: ""}); %>
            <%- include('components/input', {type: "text", id: "password", name: "password", label: "Password", value: "", hint: ""}); %>
            <%- include('components/input', {type: "checkbox", id: "save", name: "save", label: "Remember me", value: "", hint: ""}); %>
            <div class="button-f-right">
                <button class="button" onclick="login()">Log in</button>
            </div>
        </div>   
    </div>
<script type="text/javascript" src="scripts/utilities.js"></script>
<script type="text/javascript" src="scripts/login-controller.js"></script>
<script src="https://use.fontawesome.com/973262919d.js"></script>
<% if (message.length > 0) { %>
    <script type="text/javascript">
            var popUpInfos = {"type": "error", "text": "<%= message %>" };
            displayPop(popUpInfos);
    </script>
<% } %>
</body>
</html>